# Feel Free to Play around Jupyter Notebook
## If you are stuck don't worry we are always here to assist you

# Day 3: Python Scripting + API Usage Practice

### Syllabus:
- Python review: loops, functions, data structures
- Writing reusable scripts
- Consuming third-party APIs (e.g., OpenWeather, Gemini)
- JSON parsing in Python

# 1. The Magic of Print() 🎭
Your first Python superpower!

In [1]:
print("Hello, World!")

Hello, World!

In [3]:
# Basic printing
print("Hello, Future Python Developer!")

Hello, Future Python Developer!

In [4]:
# Multiple items
print("My name is", "Ram", "and I'm", 20, "years old")

My name is Ram and I'm 20 years old

In [2]:
# With separators
print("Cat", "Dog", "Bird", sep=" # ")

Cat # Dog # Bird

#### Question
```
print("🎉" * 10)
```

In [5]:
print("e"*10)

eeeeeeeeee

# 2.  Input() - Talk to Your Computer 💬
Making programs interactive (finally!)

In [13]:
# Basic input
name = input("What's your name? ")
print(f"Hello, {name}!")

What's your name? Shreya
Hello, Shreya !

In [14]:
# Input is always a string
age = input("How old are you? ")
print(f"You are {age} years old")

How old are you? 19
You are 19 years old

Remember: input() always returns a string, even if you type numbers!

# 3. Variables - Your Data Storage Units 📦
Containers for storing data values. In Python, variables do not need explicit declaration to reserve memory space.

In [6]:
# Numbers
pizza_slices = 8
price = 12.99

IndentationError: unexpected indent (ipython-input-6-2195598232.py, line 2)

In [12]:
# Text (strings)
favorite_movie = "The Matrix"
emoji_mood = "😎"
print(emoji_mood, favorite_movie)

😎 The Matrix

In [ ]:
# Boolean (True/False)
is_hungry = True
loves_python = False  # Obviously!

#### Question
Does this work??
```
x, y, z = 1, 2, 3
```

In [18]:
x=1
y=9
z=0.56
print((x+y)*z)

5.6000000000000005

"Python variables are like teenagers - they change type whenever they want!"

# 4. Type Conversion - The Shape Shifters 🔄
- Converting data types using functions like `int()`, `float()`, `str()`, `bool()`.

**Data Types**:
- Common data types in Python include integers (`int`), floating-point numbers (`float`), strings (`str`), booleans (`bool`), and lists (`list`).

In [19]:
# String to Integer
age_text = "25"
print(type(age_text))

<class 'str'>

In [20]:
print(age_text + 5)

TypeError: can only concatenate str (not "int") to str

In [21]:
age_number = int(age)
print(age_number + 5)  # Now we can do math!

24

In [25]:
# Integer to String
score = str(100)

#message = "Your score is " + str(score)
message="Your score is"
message + score

'Your score is 100'

In [28]:
# Float conversions
price = float("19.99")
whole_price = int(price)  # 19 (loses decimal)
whole_price
type(whole_price)

int

In [29]:
# Boolean conversions
print(bool(0))      # False
print(bool(42))     # True
print(bool(""))     # False
print(bool("Hi"))   # True

False
True
False
True

### QUESTION
What will happen if you try the following?
```
print(bool(-1))
```

In [30]:
print(bool(-1))

True

# Exercise 1:
Take age as an input, check its type, add 10 to it and show the output.

In [40]:
msg=input("Enter your age?")
#msg=int(input("Enter your age?"))
print(type(msg))
age_num=int(msg)
print(age_num+10)

Enter your age?20
<class 'str'>
30

# 5. Conditional Statements - The Decision Makers 🤔
Teaching your code to make choices

In [42]:
temperature = 2

if temperature > 30:
    print("🔥 It's hot! Time for ice cream!")
elif temperature > 20:
    print("🌤️ Perfect weather!")
elif temperature > 10:
    print("🧥 Grab a jacket!")
else:
    print("🥶 Brrr! Stay inside!")

🥶 Brrr! Stay inside!

### QUESTION
What will happen if you try the following?
```
mood = "happy" if temperature > 20 else "grumpy"
print(mood)
```

In [44]:
temperature=30
if temperature>20:
  print("happy")
else:
  print("grumpy")

happy

# 6. Comparison Operators - The Judges ⚖️

In [ ]:
# The usual suspects
print(5 == 5)    # True (equal)
print(5 != 3)    # True (not equal)
print(5 > 3)     # True (greater)
print(5 < 3)     # False (less)
print(5 >= 5)    # True (greater or equal)
print(5 <= 4)    # False (less or equal)

In [ ]:
# String comparisons
print("apple" == "apple")  # True
print("Apple" == "apple")  # False (case sensitive!)

### QUESTION
What will happen if you try the following?
```
user_age = 18
can_vote = user_age >= 18
print(f"Can vote:", can_vote)
```

In [47]:
user_age = 8
can_vote = user_age >= 18
print("Can vote:", can_vote)

Can vote: False

# 7. Logical Operators - The Connectors 🔗
Combining conditions like a logic ninja

In [49]:
age = 25
has_license = True
has_car = False

In [50]:
# AND - both must be true
can_drive = age >= 16 and has_license
print(f"Can drive: {can_drive}")

Can drive: True

In [51]:
# OR - at least one must be true
can_travel = has_car or has_license
print(f"Can travel: {can_travel}")

Can travel: True

In [52]:
# NOT - flip the boolean
is_minor = not (age >= 18)
print(f"Is minor: {is_minor}")

Is minor: False

### QUESTION
What will happen if you try the following?
```
can_uber = (age >= 18) and (not has_car) and has_license
```

In [56]:
can_uber = (age >= 18) and (not has_car) and has_license
print(can_uber)

True

# Exercise 2:
Take age as an input of someone you like and print if they are minor, adult or senior citizen

Hint:
minor (0 - 16)
adult (17 - 70)
senior citizen (71 - 1000)

In [59]:
msg=int(input("Enter your age:"))
if msg<16 and msg==0:
  print("Minor")
elif msg>17 and msg>70:
  print("Adult")
elif msg>71:
  print("Senior citizen")
else:
  print("Enter the vaild age.")

Enter your age:-09
Enter the vaild age.

# 8. For Loops - The Repetition Masters 🔄
When you need to do something multiple times

In [60]:
# Basic counting
for i in range(5):
    print(f"Count: {i}")

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [61]:
# Counting with style
for i in range(1, 6):
    print("🎯" * i)

🎯
🎯🎯
🎯🎯🎯
🎯🎯🎯🎯
🎯🎯🎯🎯🎯

In [62]:
# Looping through lists
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(f"I love {fruit}!")

I love apple!
I love banana!
I love cherry!

In [63]:
# Looping through strings
for letter in "PYTHON":
    print(f"Letter: {letter}")

Letter: P
Letter: Y
Letter: T
Letter: H
Letter: O
Letter: N

### QUESTION
What will happen if you try the following?
```
netaharu = ["kp", "sheru", "puspa"]
for index, neta in enumerate(netaharu):
    print(f"{index}: {neta}")
```

# 9. While Loops - The Persistent Ones 🔁
Keep going until something changes

In [ ]:
# Basic while loop
countdown = 5
while countdown > 0:
    print(f"Countdown: {countdown}")
    countdown -= 1    # countdown = countdown - 1
print("🚀 Blast off!")

In [64]:
# User input loop
password = ""
while password != "secret":
    password = input("Enter password: ")
    if password != "secret":
        print("❌ Wrong password!")
print("✅ Access granted!")

Enter password: d
❌ Wrong password!
Enter password: gse
❌ Wrong password!
Enter password: sg
❌ Wrong password!
Enter password: r
❌ Wrong password!
Enter password: g
❌ Wrong password!
Enter password: s
❌ Wrong password!
Enter password: secret
✅ Access granted!

#### Infinite loop (careful!)
```
while True:
        print("This runs forever!")
```

# Exercise 3
Print out which numbers are odd and which are even in between range of numbers of your choice.

In [67]:
for i in range(1,11):
  if i%2==0:
    print("Even")
  else:
     print("odd")

odd
Even
odd
Even
odd
Even
odd
Even
odd
Even


# 10. Functions - Your Code Helpers 🛠️
Creating reusable blocks of code

In [68]:
# Basic function
def greet():
    print("Hello, World!")

greet()

Hello, World!

In [69]:
# Function with parameters
def greet_person(name):
    print(f"Hello, {name}!")

greet_person("Alice")

Hello, Alice!

In [70]:
# Function with return value
def add_numbers(a, b):
    result = a + b
    return result

sum_result = add_numbers(5, 3)
print(f"Sum: {sum_result}")

Sum: 8

# 11. Lists - The Ordered Collections 📝
Storing multiple items in order

In [74]:
# Creating lists
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed = ["hello", 42, True, 3.14]
mixed

['hello', 42, True, 3.14]

In [75]:
# Accessing elements
print(fruits[0])     # apple (first item)
print(fruits[-1])    # cherry (last item)

apple
cherry

In [78]:
# Slicing
some_fruits = fruits[1:3]
some_fruits

['banana', 'cherry']

In [79]:
# Useful methods
print(len(numbers))
print(max(numbers))
print(min(numbers))
print(sum(numbers))

5
5
1
15

### QUESTION
What will happen if you try the following?
```
scores = [85, 92, 78, 96, 88]
scores.sort()           
print(scores)           

scores.reverse()
print(scores)  
```

In [80]:
scores = [85, 92, 78, 96, 88]
scores.sort()
print(scores)

scores.reverse()
print(scores)

[78, 85, 88, 92, 96]
[96, 92, 88, 85, 78]

# 12. Dictionaries - The Key-Value Store 🗂️
Storing data with meaningful labels

In [81]:
# Creating dictionaries
student = {
    "name": "Ram",
    "age": 20,
    "grade": "A",
    "subjects": ["Programming", "Engineering"]
}

In [82]:
# Accessing values
print(student["name"])
print(student.get("age"))

Ram
20

### QUESTION
What will happen if you try the following?
```
student["email"] = "ramu@example.com"
student["age"] = 21
print(student)
```

In [83]:
student["email"] = "ramu@example.com"
student["age"] = 21
print(student)

{'name': 'Ram', 'age': 21, 'grade': 'A', 'subjects': ['Programming', 'Engineering'], 'email': 'ramu@example.com'}

# Exercise 4:
Do **exercise 3** by using a function which prints if a number is even or odd. Use for loop in the given list and pass each number to the function.

``` python
[33, 42, 420, 69, 7]
```

In [ ]:
new_list=[33,42,420,]

# 13. Writing Reusable Scripts - The Philosophy 🎯
From messy code to clean, reusable magic

#### The Problem:

In [ ]:
# Messy script - does everything at once
print("Calculator")
num1 = float(input("First number: "))
num2 = float(input("Second number: "))
result = num1 + num2
print(f"Result: {result}")

 What if we want to multiply? Copy-paste everything? 😱

#### The Solution:

In [84]:
# Clean, reusable functions
def get_number(prompt):
    return float(input(prompt))

def calculate(num1, num2, operation):
    if operation == "add":
        return num1 + num2
    elif operation == "multiply":
        return num1 * num2
    # More operations...

# 14. Python Classes - Creating Your Own Objects 🏗️
Classes are like blueprints for creating objects. Think of them as cookie cutters!

## Basic Class Example - Person
Let's create a simple Person class to understand the basics

In [ ]:
# Creating a simple class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        return f"Hello, my name is {self.name} and I'm {self.age} years old!"


# Creating objects (instances) from the class
p1 = Person("KP Oli", 72)
p2 = Person("Prachanda", 70)

# Using methods
print(p1.greet())
print(p2.greet())

# Accessing attributes
print(f"{p1.name} is {p1.age} years old") # Bad Practice, but works

In [ ]:
# Use Getters and Setters for better practice
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def get_name(self):
        return self.name

    def get_age(self):
        return self.age

    def set_name(self, name):
        self.name = name

    def set_age(self, age):
        self.age = age

# Using class methods
p1 = Person("Ramu", 25)
print(p1.get_name())
print(p1.get_age())

### QUESTION
What will happen if you try the following?
```python
person3 = Person("Chandra", 20)
person3.hobby = "Reading"  # Adding a new attribute
print(f"{person3.name} likes {person3.hobby}")
```

## Calculator Class Example
Let's create a simple calculator using classes

In [ ]:
class Calculator:
    def add(self, a, b):
        result = a + b

        return result

    def subtract(self, a, b):
        result = a - b

        return result

    def multiply(self, a, b):
        result = a * b

        return result

    def divide(self, a, b):
        result = a / b

        return result

In [ ]:
# Create a calculator object
my_calc = Calculator()

# Perform some calculations
print(my_calc.add(10, 5))

# Exercise 5:
- In similar fashion do divide, multiply
- Try dividing by zero

# 15. Error Handling - Expect the Unexpected 🛡️
Making your scripts bulletproof

In [ ]:
#Divide by zero error
a = 10
result = a / 0
print(f"Error: {e}")

ZeroDivisionError: division by zero

In [ ]:
#Divide by zero error
a = 10
try:
    result = a / 0
except Exception as e:
    print(f"Error: {e}")

Error: division by zero

In [ ]:
#Error when printing an undefined variable
print(naam_xyna)

NameError: name 'naam_xyna' is not defined

In [ ]:
#Name Error
try:
    print(naam_xyna)
except Exception as e:
    print(f"Error: {e}")

Error: name 'naam_xyna' is not defined

In [ ]:
#You can except named exceptions directly and show your own message
try:
    print(naam_xyna)
except NameError:
    print("Phaile define tw garnu parcha!😉")

Phaile define tw garnu parcha!

In [ ]:
#You can except named exceptions directly and show your own message
a = 10
try:
    test = a/0
except ZeroDivisionError:
    print("Kaha zero bata divide garyako.🤣")

Kaha zero bata divide garyako.🤣

In [ ]:
# Single Exception
def safe_divide(a, b):
    """Division that won't crash your program"""
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        print("Cannot divide by zero!")
        return None
    except TypeError:
        print("Please provide numbers!")
        return None

result = safe_divide(2, 0)

Cannot divide by zero!

# 16. File Operations - Reading and Writing 📁
Making your scripts work with files

### File Operation Modes
- 'r' : Opens file for reading, error if not found.
- 'w' : Opens file for writing, overwrites if exists.
- 'a' : Opens file to append, creates if not exists.

## Aam Jindagi

In [ ]:
#Creating a file
f = open("example.txt", "w")
f.write("Hello, World!")
f.close()

In [ ]:
#appending to the file
f = open("example.txt", "a")
f.write(" I am attending Software Fellowship!")
f.close()

In [ ]:
#reading from the file
f = open("example.txt", "r")
content = f.read()
print(content)
f.close()

Hello, World! Appending some text! I am attending Python Fellowship!

## Mentos Jindagi

In [ ]:
''' If you do just f = open(...), you must manually
call f.close(), or the file might stay open, causing memory leaks or file lock issues. '''

In [ ]:
#with keyword to create new file
with open("sample2.txt",'w') as f:
    f.write("Selmon Bhai")

In [ ]:
#with keyboard to read from file
with open("sample2.txt",'r') as f:
    s = f.read()
    print(s)

Selmon Bhai

Tips : `write only accept string so before writing to file convert numbers to string`

### Q) Create a file named number to store starting 100 numbers

In [ ]:
#Code here: Hint: Use range(1,101) with for loop
#print('str(i)')

# API Usage

# 17. Simple Currency Exchange System

[Open File](API-Usage/currency_exchange_system.py)

# 18. Chat with Gemini

[Open File](API-Usage\gemini_chat.py)

# Lab/Assignment
## Build a CLI tool that consumes an external API
## Use key less API like:
1.  #### Cat Facts
- Get random cat facts via text message every day.
```
https://cat-fact.herokuapp.com/facts
```

2. #### Dogs
- Cheer yourself up with random dog images.
```
https://dog.ceo/api/breeds/image/random
```

3. #### Jokes
- Get random jokes. You can also get jokes according to type (e.g., programming jokes only).
```
https://official-joke-api.appspot.com/random_joke
```

4. #### Bored
- Find something to do by getting suggestions for random activities.
```
https://www.boredapi.com/api/activity
```

## Or use API with key like Gemini Above